@charset "UTF-8";

 /* 풋터 */
 #footer{
    background: #7F7B7A;
    height: 20vh;
    padding: 20px;
    margin-top: 20px;
}

#footer .contentcontainer{
    display: flex;
    flex-flow: row wrap;
    flex: 1;
}

#companyinfo{
    width:755px;
    display: flex;
    flex-flow: column;
    font-family: "메이플스토리",Arial,sans-serif;
    font-size: 14px;
    color: white;
}

#companyinfo dl{
    display: flex;
    flex-flow: row wrap;
}

#companyinfo dl dd{
    margin-right: 10px;
}