@charset "UTF-8";

/* 콘텐츠 */

#con{
    height:700px;
}

.contentcontainer{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: inherit;
    position: relative;
}

#content{
    display: flex;
    align-items: center;
    height:30px;
    line-height: 30px;
    background: #4b0d0d;
    min-width: 90px;
}

#content .contentcontainer{
    padding-left: 34px;
}

.content2 > h1 {
    width:1000px;
    height: 40px;
    font-size: 30px;
    color:black;
}

.content2 article {
    text-align: center;
    margin-top: 2px;
}

.content2 #join{
    height: 40px;
    width: 500px;
    font-size: 15px;
}

.content2 #joinbutton{
    width: 500px;
    height: 50px;
    font-size: 15px;
    color: #ffffff;
    background-color: maroon;
    border: 0px;
    margin-top: 10px;
}

