@charset "UTF-8";

/* 헤더 */
#mainmenu{
    display: inline-block;
}
#mainmenu a{
    font-family: "맑은 고딕";
    font-weight: bold;
    font-size: 14px;
    color:black;
    text-decoration: none;
}
#mainmenu > ul{
    overflow: auto;
}

#mainmenu > ul > li{
    float: left;
    padding-left: 8px;
}

#searchform{
    border: 3px solid #4b0d0d;
    display: inline-block;
    overflow: auto;
}

#searchform label{
    height: 25px;
    line-height: 25px;
    display: block;
    float:left;

    font-family: "메이플스토리",Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #979797;

    background: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
}
#searchform input[type="text"]{
    width: 200px;
    height:25px;
    border: 0px;
    display: block;
    float: left;
    text-indent: 5px;
}

#searchform input[type="submit"]{
    background:url("../images/image1.png") no-repeat center;
    width: 31px;
    height: 25px;
    border: 0px;
    display: block;
    float: left;
    border-left: 1px solid #4b0d0d;
    text-indent: -999px;
}

#header{
    position:static;
    display: block;
    height: 10vh;
    padding: 0px;
    border-bottom: 3px solid #4b0d0d;
}

#mainmenu{
    position: absolute;
    left:200px;
    top:27px;
}

#searchform{
    position:absolute;
    left:530px;
    top:21px;
}

#acountmenu{
    position:absolute;
    right:0px;
    top:20px;
}

#acountmenu a{
    display: inline-block;
    font-family: "메이플스토리",Arial,sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #979797;
    text-decoration: none;
}

#acountmenu > ul > li{
    float: left;
    padding-left: 9px;
}

#content .title{
    flex-grow: 1;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
}