
/* All */

body {
  padding-top: 56px;
  margin-top:38px ;
  /* width: 100%; */
  /* max-width: 500px; */
  /* min-width: 700px; */
}

/* nav */

@media(max-width: 1000px){
  .form-inline{
    overflow: hidden;
    height: 0;
  }
}

.navbar-nav li:hover .dropdown-menu {
  display: block;
  background-color: #FFC107;
  border: 0px;
}

.dropdown-item{
  border: 0.5px rgb(243, 181, 12) solid;
}

.dropdown-item:hover{
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(251, 227, 6);
}

.container{
  margin-top:20px ;
  margin-bottom:20px ;
}

*{
  font-family: "메이플스토리";
}


/* board */

.btn-toolbar {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.card-title{
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
  height: 30px;
  white-space: nowrap;
}

.card-text{
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
  height: 90px;
  /* white-space: nowrap; */
}

.curpage{
  color: rgb(243, 181, 12);
  font-weight: bold;
}

#writecontainer{
  padding: 20px;
  border: 1px rgba(128, 128, 128,0.5) solid;
  border-radius: 5px;
}
#comlabel{
	font-size: 20px;
}
