@charset "UTF-8";
 
	div#kdh-sidebar-container{
		width: 14em;
	height: 35em;
	margin-top: 6em;
	margin-left: 17%;
	float: left;
	margin-bottom: 15%;
	list-style: none;
	} 

	ul{
		list-style:none;
		}
	 

  /* #kdh-sidebar-left {
	width: 14em;
	height: 35em;
	margin-top: 20%;
	margin-left: 0%;
	float: left;
	margin-bottom: 15%;
	
	
  } */
ul.sidebarTitle{
	background-color: rgb(252, 173, 26);
	color: whitesmoke;
	height: 11em;
	margin-top: 1em;
	
}
ul.sidebarTitle li#kdh-side-Title{
	font-size: 27px;
	font-weight: bold;
	padding-top: 1em;
}
ul.sidebarTitle li#kdh-side-text span{
	font-weight: bold;
	font-size: 20px;
	padding-top: 20em;
}
ul .side-bar-kdh{
	text-align: center;
	
}
div#kdh-sidebar-left{
	border: 1px solid darkgray;
}
 div#kdh-sidebar-left ul li{
 	list-style:none;
    padding: 3%;
 }

 .cstmt-list a,
 .list-hiper a{
  
  list-style: none;
  font-size: 16px;
  color: black;
  text-decoration: none;
  margin-left: 2em;
  
 }
 .cstmt-list a:hover,
 .list-hiper a:hover{
	 color: #f1bb74;
 }
