@charset "UTF-8";

	div#kdh-sidebar-container{
		width: 14em;
		height: 34em;
	margin-top: 2em;
	margin-left: 15em;
	float: left;
	border: 2px solid darkgray;
	
	margin-bottom: 3em;
	} 

	ul{
		list-style:none;
		}
	 
ul.side-bar-kdh{
	text-align: center;
	width: 79%;
	
}

ul.sidebarTitle{
	background-color: rgb(243, 183, 24);
	text-align: justify;
	width: 99.9%;
	height: 14em;
	color: whitesmoke;
	
	
	
	
}
ul.sidebarTitle li#kdh-side-Title{
	font-size: 30px;
	font-weight: bold;
	padding-top: 1em;
	padding-left: 10%;
	
}
ul.sidebarTitle li#kdh-side-text{
	font-weight: bold;
	font-size: 20px;
	padding-left: 6%;
	
}
ul.sidebarTitle li#kdh-side-text span{
	padding-left: 14%;
}

 div#kdh-sidebar-left ul li{
 	list-style:none;
    padding-top:1em ;
 }

 .cstmt-list a,
 .list-hiper a{
  
  list-style: none;
  font-size: 20px;
  color: black;
  text-decoration: none;
  
  
 }
 .cstmt-list a:hover,
 .list-hiper a:hover{
	 color: #f1bb74;
 }
