@charset "UTF-8";
*{
    text-decoration:none
}
table {
    width: 800px;
    height: 300px;
    margin-left: 35%;

    
}

th {
    background-color: #f1a90d;
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
}

td {
    text-align: center;
    padding-top: 0.7%;
    font-size: 14px;
}
.qna-caution{
    margin-top: 4.5%;
    margin-left: 33%;
}
.qna-caution .caution-li{
    list-style: none;
    
}
.qna-caution li.caution-first{
    font-weight: bold;
    font-size: 20px;
}
.qna-caution li.caution-c{
    font-size: 12px;
    
    padding-top: 5px;
}
.page_wrap{
    margin-top: 5%;
    margin-left: 56.0%;
    margin-bottom: 5%;
}
.cs-alert{
    width: 1200px;
    margin-left: 35%;
    margin-top: 4%;
}
.cs-alert .cs-alert__title a{
    font-size: 18px;
    font-weight: bold;
}
.cs-alert .cs-alert__content a {
    font-size: 15px;
}   
.cs-alert .cs-alert__content a span{
    font-weight: bold;
} 

div.ad-content *{
    width: 800px;
    height: 200px;
    margin-left:15%;
}
#btn-news {
    float: right;
    margin-top: 11%;
    margin-right: 16%;
}

.btn_1 {
    color: #f87d09;
    text-align: center;
    width: 130px;
    background-color: white;
    border: 4px solid #f1da06;
    border-radius: 13%;
    
    font-weight: bold;
}
#btn-news a{
    text-decoration: none;
}
.btn_1:hover {
    color: orange;
}
ul.side-bar-kdh p#img-title{
    padding-bottom: 10px;
}