@charset "UTF-8";
.qnaSection{margin-top:1em;}
table.table {
    width: 51.5em;
    position: relative;
    height: 20em;
    margin-left: 33em;
    margin-top: 1em;
    
    
}

th {
    background-color: orange;
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
}

td {
    text-align: center;
    padding-top: 3em;
    font-size: 14px;
    color: black;
}
td a{
    color:gray;
    font-weight: bold;
}
td a:hover{
    color: rgb(168, 101, 53);
}
.qna-caution{
    
    margin-top: 0;
    margin-left: 33em;
    position: relative;
}
.qna-caution,
.ul-caution{
    margin-top: 6em;
    position: relative;
}
.qna-caution .caution-li{
    list-style: none;
    
}
.qna-caution li.caution-first{
    font-weight: bold;
    font-size: 20px;
    margin-top: 0em;
}
.qna-caution li.caution-c{
    font-size: 12px;
    margin-top:1em;
   
}
.page_wrap{
    margin-top: 5%;
    margin-left: 52.0%;
    margin-bottom: 5%;
    width: 5em;
}
.page_wrap a{
    padding-left:0.5em;
 
    
}

#btn-news1 {
    float: right;
    margin-right: 14.5em;
    margin-bottom: 3.5em;
    position: relative;
}
.btn-default{
    width: 7.5em;
    color: black;
    border: 1.5px solid black;
    background-color: rgb(226, 226, 226);
    text-align: center;
    text-decoration: none;

}
div#btn-news1 a{
    text-decoration: none;
}
td a:hover {
    text-decoration: none;
}



ul.side-bar-kdh p#img-title{
    padding-bottom: 10px;
}
.coustomer-news{
    margin-top: 2em;
}