@charset "UTF-8";

table.table {
    width: 54em;
    height: 20em;
    margin-left: 35%;
    margin-top: 1em;

    
}

th {
    background-color: orange;
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
}

td {
    text-align: center;
    padding-top: 3%;
    font-size: 14px;
    color: black;
}
td a{
    color:gray;
    font-weight: bold;
}
td a:hover{
    color: rgb(168, 101, 53);
}
.qna-caution{
    width: 50%;
    margin-top: 10%;
    margin-left: 33%;
}
.qna-caution,
.ul-caution{
    margin-top: 6em;
}
.qna-caution .caution-li{
    list-style: none;
    
}
.qna-caution li.caution-first{
    font-weight: bold;
    font-size: 20px;
    margin-top: 0em;
}
.qna-caution li.caution-c{
    font-size: 12px;
    margin-top:1em;
   
}
.page_wrap{
    margin-top: 5%;
    margin-left: 52.0%;
    margin-bottom: 5%;
    width: 5em;
}
.page_wrap a{
    padding-left:0.5em;
 
    
}
/* .cs-alert{
    width: 1200px;
    margin-left: 35%;
    margin-top: 4%;
}
.cs-alert .cs-alert__title a{
    font-size: 18px;
    font-weight: bold;
}
.cs-alert .cs-alert__content a {
    font-size: 15px;
}   
.cs-alert .cs-alert__content a span{
    font-weight: bold;
}  */

/* div.ad-content *{
    width: 800px;
    height: 200px;
    margin-left:15%;
} */
#btn-news {
    float: right;
    margin-right: 10em;
    margin-bottom: 3em;
}
.btn{
    width: 7em;
    color: black;
    border: 1.5px solid black;
    background-color: rgb(226, 226, 226);
    text-align: center;

}
td a:hover {
    text-decoration: none;
}



ul.side-bar-kdh p#img-title{
    padding-bottom: 10px;
}
.coustomer-news{
    margin-top: 2em;
}